body, html {
}

.header {
    padding-bottom: 5px;
}

.section {
    border-bottom: 1px solid gray;
}

#repo-list {
    padding-bottom: 0.5rem;
}

#repo-list input {
    margin: 0.1rem;
}

#repo-list input:nth-child(1) {
    width: 50%;
}

#repo-list input:nth-child(2) {
    width: 30%;
}

#repo-list input.error {
    border-color: red;
}

#repo-list-error {
    display: none;
}

.error-message {
    padding: 0.5rem;
    color: red;
    font-weight: bold;
}
