body, html {
}

.header {
    padding-bottom: 5px;
}

.section {
    border-bottom: 1px solid gray;
}

#repo-list {
    padding-bottom: 0.5rem;
}

#repo-list input {
    margin: 0.1rem;
}

#repo-list input:nth-child(2) {
    width: 50%;
}

#repo-list input:nth-child(3) {
    width: 30%;
}

#repo-list input.error {
    border-color: red;
}

#repo-list .delete {
    background: url('delete.svg') bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 17px;
    height: 17px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

#repo-list-error {
    display: none;
}

.error-message {
    padding: 0.5rem;
    color: red;
    font-weight: bold;
}

#repo-list .repo {
    position: relative;
}

#repo-list .tooltiptext {
    visibility: hidden;
    width: 45%;
    margin-left: -22.5%;
    margin-bottom: 3px;

    background-color: rgba(200, 0, 0, 0.95);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 25%;
}

#repo-list .tooltiptext:has(+ input.error:hover), #repo-list .tooltiptext:has(+ input.error:focus) {
    visibility: visible !important;
}
